<div class="empty text-center flex flex-col items-center text-gray-500 font-bold">
  <%= inline_svg_tag 'icons/empty.svg', class: 'h-10 w-10 text-red-700'%>
  <p>
    nothing here..
  <p>
  <p>
    try adding new quotes
  </p>
</div>