<%= turbo_frame_tag 'filters_stats', class: 'flex flex-col flex-wrap gap-4 border border-gray-200 border-dashed rounded-lg p-4', data: { controller: 'filters' } do %>
  <p class="font-medium text-lg">
    filters & stats
  </p>

  <div class="flex flex-wrap items-center gap-4 justify-between">
    <%= render partial: 'filters' %>
    <%= render partial: 'stats' %>
  </div>
<% end %>