<div data-controller='filters'>
  <%= turbo_frame_tag 'filters', class:'flex flex-wrap gap-4 items-center border border-gray-200 border-dashed rounded-lg p-4' do %>
    <%= render partial: 'content_filter' %>
    <%= render partial: 'rating_filter' %>
    <%= button_to 'clear filters',filter_path, class:'cursor-pointer font-bold hover:underline' %>
  <% end %>
</div>