<%= turbo_frame_tag 'stats' do %>
  <div>
    <p class="text-lg font-bold">
    <% if Quote.where.not(rating:nil).count > 0 %>
      <%= (Quote.pluck(:rating).compact.sum / Quote.where.not(rating:nil).count.to_f).round(1) %>/5
    <% else%>
      no ratings
    <% end %>
    </p>
    <p class="text-xs">
      <%= pluralize(Quote.count, 'quote')%>
    </p>
  </div>
<% end %>