<div class="flex flex-col">
  average rating
  <div class="flex">
    <%= inline_svg_tag 'icons/star.svg', class:'text-yellow-500 fill-yellow-500 w-10'%>
    <%= render partial: 'stats_frame' %>
  </div>
</div>