<%# gray-50 %>
<%# gray-200 %>

<div class="flex flex-col w-full" data-controller="quotes">
  <%= turbo_frame_tag 'new_quote', class:'w-full flex flex-col items-center justify-center gap-4 p-4', id: 'new_quote' %>

  <%= turbo_frame_tag 'quotes', class:' my-4 border border-dashed border-gray-200 parent w-full flex flex-col items-center justify-center gap-4 p-4' do %>
    <%= render @quotes %>

    <%= render partial: 'empty_list' %>
  <% end %>
</div>