<div class="w-full flex flex-col" data-controller="quotes">
  <%= turbo_frame_tag 'new_quote', class:'w-full flex flex-col items-center justify-center gap-4 my-4' %>

  <%= render partial: 'filters_stats' %>

  <%= render partial: 'quotes' %>
</div>