<% type = (flash[:notice].present? && 'notice') || (flash[:alert].present? && 'alert') || nil %>
<% custom_bg = (type == 'notice' && 'bg-green-300') || (type == 'alert' && 'bg-red-300') || '' %>

<div id='flash'
     class="<%= "justify-center items-center absolute top-14 flex gap-2 px-4 py-1 rounded-sm items-center #{custom_bg}" %>"
     data-controller='flash'
     data-flash-target='container'>
  <% if flash[type]%>
    <%= inline_svg_tag "icons/#{type}.svg" %>
    <%= flash[type]%>
  <% end %>
</div>